<div class="container pb-5 pt-5">
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="d-md-block bg-dark bg-gradient sidebar collapse rounded">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/reservations">
                <span data-feather="home" class="align-text-bottom"></span>
                Reservations
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/employee">
                <span data-feather="home" class="align-text-bottom"></span>
                Add New Admin
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/allemployee">
                <span data-feather="home" class="align-text-bottom"></span>
                All Admin
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/admin-info">
                <span data-feather="home" class="align-text-bottom"></span>
                Admin Info
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/addnews">
                <span data-feather="home" class="align-text-bottom"></span>
                Add a News
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/allnews">
                <span data-feather="home" class="align-text-bottom"></span>
                All News
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" routerLink="/edit">
                <span data-feather="home" class="align-text-bottom"></span>
                Edit News
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page">
                <span data-feather="home" class="align-text-bottom"></span>
                Tags
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" >
                <span data-feather="home" class="align-text-bottom"></span>
                Settings
              </a>
            </li>
          </ul>
        </div>
      </nav>
</div>



