<!-- partial:index.partial.html -->
<div class="container">
	<div id="login-box">
		<div class="logo">
			<!-- <img src="https://media.licdn.com/dms/image/D5603AQHG51xvWd_s0A/profile-displayphoto-shrink_800_800/0/1688589050780?e=2147483647&v=beta&t=8fB3LLHIprP8UXaeKChP8kAnnX3vpTlVT4IzOfK2aZM" class="img img-responsive img-circle center-block"/> -->
			<h1 class="logo-caption"><span class="tweak">R</span>egistration</h1>
		</div><!-- /.logo -->
		<div class="controls">
			<form>
				<input type="number" name="user_id" placeholder="User Id" class="form-control" [(ngModel)]="user_id"/>
				<input type="text" name="user_name" placeholder="Name" class="form-control" [(ngModel)]="user_name"/>
				<input type="text" name="user_email" placeholder="Email" class="form-control" [(ngModel)]="user_email"/>
				<input type="text" name="user_password" placeholder="Password" class="form-control" [(ngModel)]="user_password"/>
				<button type="button" class="btn btn-default btn-block btn-custom" (click)="register()">Register</button>
			</form>

			<br>
			<p>Have an account? <a routerLink="/login">Login Here!</a></p>
		</div>
	</div>
</div>
<div id="particles-js"></div>
<!-- partial -->