<!-- --------------------------------------- insert ------------------------ -->


<div class="row container">
    <div class="col-md-6">
      <div class="container my-5">
  
        <form (ngSubmit)="insert()">
  
          <div class="mb-3">
            <label for="id" class="form-label fw-bolder">Id</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id"
              placeholder="enter your id number">
          </div>
  
          <div class="mb-3">
            <label for="name" class="form-label fw-bolder">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name"
              placeholder="enter your name">
          </div>
  
          <div class="mb-3">
            <label for="round" class="form-label fw-bolder">Round</label>
            <input type="text" class="form-control" id="round" name="round" [(ngModel)]="round">
          </div>
  
  
          <button type="submit" class="btn btn-outline-success fw-bolder mt-3 d-block m-auto px-5">Insert</button>
        </form>
  
      </div>
    </div>
  
  </div>
